<launch>
  <arg name="semantic_map" default="$(find event_guide_robot)/config/semantic_map.yaml" />
  <arg name="search_params" default="$(find event_guide_robot)/config/search_params.yaml" />
  <arg name="image_topic" default="/raspicam_node/image" />
  <arg name="navigation_timeout_sec" default="90.0" />

  <node pkg="event_guide_robot"
        type="semantic_planner_node.py"
        name="semantic_planner_node"
        output="screen">
    <param name="semantic_map" value="$(arg semantic_map)" />
  </node>

  <node pkg="event_guide_robot"
        type="navigation_manager_node.py"
        name="navigation_manager_node"
        output="screen">
    <param name="navigation_timeout_sec" value="$(arg navigation_timeout_sec)" />
  </node>

  <node pkg="event_guide_robot"
        type="local_search_manager_node.py"
        name="local_search_manager_node"
        output="screen">
    <rosparam command="load" file="$(arg search_params)" />
  </node>

  <node pkg="event_guide_robot"
        type="vision_detector_node.py"
        name="vision_detector_node"
        output="screen">
    <param name="semantic_map" value="$(arg semantic_map)" />
    <param name="image_topic" value="$(arg image_topic)" />
    <param name="marker_size_m" value="0.16" />
    <param name="horizontal_fov_rad" value="1.085595" />
  </node>
</launch>
